.answer{
    cursor: pointer;
    border: 2px solid #ff2742;
    width: 40%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .answer{
        width: 100%;
    }
  }