.feelingsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 80px);
}

.iconsContainer{
    display: flex;
    justify-content: space-around;
   width: 60%;
   height: 3rem;
   cursor: pointer;
   margin: 0 auto;
}

.answerContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .answerContainer{
        flex-direction: column;
        width: 80%;
    }
  }
  