.iconsContainer{
    display: flex;
    justify-content: space-around;
   width: 60%;
   height: 3rem;
   cursor: pointer;
}

.answerContainer{
    width : 60%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}