body {
  padding: 0;
  margin: 0;
  font-family: 'Livvic', sans-serif;
  background: linear-gradient(-45deg, #e05960, #240b36);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
  color: white;
}

* {
  box-sizing: border-box;
}

main {
  align-items: center;
  min-height: 100vh;
  text-align: center;
  width : 100%; 
  font-family: 'Livvic', sans-serif;
}

h1{
  font-family: 'Livvic', sans-serif;
  line-height: 1.15;
  font-size: 4rem;
}

h2{
  
  font-size: 2rem;
}

@media (max-width: 600px) {
  #popcorn {
    display: none;
  }
  main {
    width : 100%;
    padding: 20px;
  }
  h1 {
    font-size: 2rem;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
