


.button {
  border: 0px;
  height: 50%;
  width : 50%;
  font-weight: bold;
  border-radius: 10px;
  font-size : 2.5rem;
  background-color: white;
  font-family: 'Dancing Script', cursive;
  cursor: pointer;
  
}

.button:hover{
  color: #ff2742;
}
