.wrapper {
  margin-top: 80px;
  position: relative;
}

.h1 {
  margin: 0;
}

.button{
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  width: 200px;
  height: 70px;
  background: #fff;
  border: none;
  border-bottom: 6px solid #ff2742;
  box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.1);
  padding: 16px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
  transition: all 0.1s;
  outline: none;
}
.button:hover {
  bottom: -153px;
  border-bottom-width: 3px;
  cursor: pointer;
}
.button:active {
  margin-top: 5px;
  border-bottom-width: 0px;
}
